{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <form method="POST" class="from-group">
        {% csrf_token %}
        {{form|crispy}}
        <br><button type="submit" >Login</button><br>
        <h5>Don' have an account ? Register <a href="/register">here</a></h5>
    </form>
{% endblock %}
