{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
    Hello {{request.user}} <br>
    <a href="/logout">Logout</a>

{% else %}
    Hello Guest ! <br>
    How about you login first ? <br>
    <a href="/login">Login</a>
{% endif %}
{% endblock %}
